<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxy.blog.mapper.UserMapper">

    <resultMap type="User" id="UserResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="createtime" column="createTime" />
        <result property="deleted" column="deleted"/>
        <result property="lasttime" column="lastTime"/>
        <result property="phone" column="phone"/>
    </resultMap>

    <sql id="selectUserVo">
        select id, name, password, createTime, deleted, lastTime, phone from user
    </sql>

    <select id="selectUserList" parameterType="User" resultMap="UserResult">
        <include refid="selectUserVo"/>
        <where>
            <if test="name != null  and name != ''">and name=#{password}</if>
            <if test="password != null  and password != ''">and password = #{password}</if>
            <if test="createtime != null ">and createTime = #{createtime}</if>
            <if test="deleted != null ">and deleted = #{deleted}</if>
            <if test="lasttime != null ">and lastTime = #{lasttime}</if>
            <if test="phone != null  and phone != ''">and phone = #{phone}</if>
        </where>
    </select>

    <select id="selectUserById" parameterType="Long" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where id = #{id}
    </select>

    <select id="selectUserByName" resultType="java.lang.Integer">
        select count(*) from user where name = #{name}
    </select>

    <insert id="insertUser" parameterType="User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="createtime != null">createTime,</if>
            <if test="deleted != null">deleted,</if>
            <if test="lasttime != null">lastTime,</if>
            <if test="phone != null">phone</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="createtime != null">#{createtime,jdbcType=DATE},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="lasttime != null">#{lasttime,jdbcType=DATE},</if>
            <if test="phone != null">#{phone}</if>
        </trim>
    </insert>

    <update id="updateUser" parameterType="User">
        update user
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="createtime != null">createTime = #{createtime},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="lasttime != null">lastTime = #{lasttime},</if>
            <if test="phone != null">phone = #{phone},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserById" parameterType="Long">
        delete from user where id = #{id}
    </delete>

    <delete id="deleteUserByIds" parameterType="String">
        delete from user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>